@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 outline-0;
  }
  body {
    @apply overflow-x-hidden bg-alabaster;
  }
  ul,
  li,
  ol {
    @apply list-none;
  }
  a {
    @apply no-underline hover:no-underline;
  }
  img {
    @apply align-middle;
  }
  section,
  header,
  footer {
    @apply bg-white;
  }

  .before {
    box-shadow:
      15px 30px #29fd53,
      5px 60px #29fd53,
      -15px 15px #222327,
      -10px 45px #222327;
  }
  .beforeClicked {
    box-shadow:
      -15px 30px #29fd53,
      -5px 60px #29fd53,
      -10px 15px #222327,
      -20px 45px #222327;
  }

  .after {
    box-shadow:
      5px 30px #29fd53,
      -15px 60px #29fd53,
      15px 15px #222327,
      10px 45px #222327;
  }

  .afterClicked {
    box-shadow:
      10px 30px #29fd53,
      20px 60px #29fd53,
      15px 15px #222327,
      25px 45px #222327;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leftCorner {
  box-shadow: -10px -10px 0 #fff;
}
.rightCorner {
  box-shadow: -10px 10px 0 #232949;
}
.imgCorner {
  box-shadow: -10px 10px 0 #fff;
}

.borderGradient {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
}
.borderGradient:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}
