@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 outline-0;
  }
  body {
    @apply overflow-x-hidden bg-alabaster;
  }
  ul,
  li,
  ol {
    @apply list-none;
  }
  a {
    @apply no-underline hover:no-underline;
  }
  img {
    @apply align-middle;
  }
  section,
  header,
  footer {
    @apply bg-white;
  }

  .before {
    box-shadow:
      15px 30px #29fd53,
      5px 60px #29fd53,
      -15px 15px #222327,
      -10px 45px #222327;
  }
  .beforeClicked {
    box-shadow:
      -15px 30px #29fd53,
      -5px 60px #29fd53,
      -10px 15px #222327,
      -20px 45px #222327;
  }

  .after {
    box-shadow:
      5px 30px #29fd53,
      -15px 60px #29fd53,
      15px 15px #222327,
      10px 45px #222327;
  }

  .afterClicked {
    box-shadow:
      10px 30px #29fd53,
      20px 60px #29fd53,
      15px 15px #222327,
      25px 45px #222327;
  }
}
