@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 outline-0;
  }

  body {
    @apply overflow-x-hidden bg-alabaster;
  }

  ul,
  li,
  ol {
    @apply list-none;
  }

  a {
    @apply no-underline hover:no-underline;
  }

  img {
    @apply align-middle;
  }

  section,
  header,
  footer {
    @apply bg-white;
  }

  .before {
    box-shadow:
      15px 30px #29fd53,
      5px 60px #29fd53,
      -15px 15px #222327,
      -10px 45px #222327;
  }

  .beforeClicked {
    box-shadow:
      -15px 30px #29fd53,
      -5px 60px #29fd53,
      -10px 15px #222327,
      -20px 45px #222327;
  }

  .after {
    box-shadow:
      5px 30px #29fd53,
      -15px 60px #29fd53,
      15px 15px #222327,
      10px 45px #222327;
  }

  .afterClicked {
    box-shadow:
      10px 30px #29fd53,
      20px 60px #29fd53,
      15px 15px #222327,
      25px 45px #222327;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.leftCorner {
  box-shadow: -10px -10px 0 #fff;
}

.rightCorner {
  box-shadow: -10px 10px 0 #232949;
}

.imgCorner {
  box-shadow: -10px 10px 0 #fff;
}

.borderGradient {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
}

.borderGradient:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.card,
.footer .social,
.glass,
.logo,
.footer {
  transform-style: preserve-3d;
}

.card {
  box-shadow:
    #05471100 40px 50px 25px,
    #02140033 0px 25px 25px;
}

.card:hover {
  box-shadow:
    #0547110d 30px 50px 25px,
    #05471111 0px 25px 30px;
  transform: rotate3d(1, 1, 0, 30deg);
}

.glass {
  transform: translate3d(0, 0, 25px);
}

.circle {
  box-shadow: #64646f33 -10px 10px 20px;
}

.circle1 {
  transform: translate3d(0, 0, 20px);
}

.circle2 {
  transform: translate3d(0, 0, 40px);
}

.card:hover .circle2 {
  transform: translate3d(0, 0, 60px);
}

.circle3 {
  transform: translate3d(0, 0, 60px);
}

.card:hover .circle3 {
  transform: translate3d(0, 0, 80px);
}

.circle4 {
  transform: translate3d(0, 0, 80px);
}

.card:hover .circle4 {
  transform: translate3d(0, 0, 100px);
}

.circle5 {
  transform: translate3d(0, 0, 100px);
}

.card:hover .circle5 {
  transform: translate3d(0, 0, 120px);
}

.link:hover {
  transform: translate3d(0, 0, 10px);
}

.social_icons {
  box-shadow: #05471180 7px 7px 5px;
}

.social_icons:nth-child(1) {
  transition: 0.2s ease-in-out 0.2s;
}

.social_icons:nth-child(2) {
  transition: 0.2s ease-in-out 0.4s;
}

.social_icons:nth-child(3) {
  transition: 0.2s ease-in-out 0.6s;
}

.card:hover .social_icons {
  transform: translate3d(0, 0, 50px);
  box-shadow: #05471133 -5px 20px 10px;
}
